@import './style/custom.scss';

// 全站都會使用的共同樣式
html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.menu-item {
  font-size: 80px;
}